
body{
    font-size: medium;
    background:  url(images/4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    font-style:italic;
    color: rgb(53, 50, 255);
    font-size: xx-large;
    text-shadow: .1em .1em .2em rgb(145, 138, 138);
}

h3{
    text-align: center;
    letter-spacing: .1em;
    color: #fd0707;
    font-style: oblique;
    font-size: x-large;
    font-weight: bold;
    text-shadow: .1em .1em .2em rgb(186, 3, 241);
}
a {
    font-size: larger;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    color: #c700f2;
    background-color: #fff;
}
a:active{
    background-color: #fff;
    color:#ff00ff;
}
ol li{
    color: white;
    font-size: large;
}

.nav {
    overflow: hidden;
 }
.nav ul {
    list-style:none;
    padding: 0;
    margin: 0 31%; 	
 } 
 .nav ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: left;   
 }
 .nav ul li a { 	
   text-decoration: none;
   display: inline-block;
   font-family: Georgia, serif;
   text-shadow: .1em .1em .2em lightyellow;
   color: rgb(255, 0, 255);
   padding: .5em; 	
   border: 1px solid #ffffff; 
   border-radius: .5em;	
   margin: .25em; 
 }

 .contain ul{
    color: white;
    list-style: none;
 }
 .contain h1{
    padding-top: 2%;
    border-top: 1px solid white;
    font-style: normal;
    color: rgb(235, 162, 5);
    text-transform: uppercase;
    font-size: 55px;
 }
 .contain p{
    color: white;
    text-shadow: .1em .1em .2em rgb(8, 216, 216);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
 }
 footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: .1em .1em .2em rgb(186, 3, 241);
 }
.contact p{
     font-size: large;
     text-transform: uppercase;
     padding-top: 2%;
     border-top: 1px solid white;
 }
 .footer-content {
    overflow: hidden;
 }
.footer-content ul {
    list-style:none;
    padding: 0;
    margin: 0 40%;	
 } 
 .footer-content ul li {
    font-weight: normal;
    float: left;   
 }
 .footer-content ul li a { 	
   text-decoration: none;
   display: inline-block;
   font-family: Georgia, serif;
   color: rgb(206, 0, 0);
   padding: .5em; 	
   border-radius: .5em;	
 }   
 